.DS_Store
.idea
.vscode
.vscode-test
.amplify/backend/.temp
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
.aws-exports.js
.awsconfiguration.json
.bower_components
.cache
.cache/
db
.docusaurus
.env
.env.development.local
.env.local
.env.production.local
.env.test
.env.test.local
.eslintcache
.fusebox/
.grunt
.json
.lock-wscript
.node_repl_history
.npm
.nuxt
.parcel-cache
.pids
.pnpm-debug.log*
.pnp.*
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.stylelintcache
.tern-port
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn-debug.log*
.yarn/install-state.gz
.yarn/unplugged
**.sample
*.lcov
*.log
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
amplify-build-config.json
amplify-gradle-config.json
amplifyconfiguration.dart
amplifyconfiguration.json
amplifytools.xcconfig
build/
build/Release
coverage
dist
dist/
docusaurus
jspm_packages/
lerna-debug.log*
lib-cov
logs
msbuild.binlog*
next
node_modules/
npm-debug.log*
typings/
out
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*
.secret-*
.serverless/
temp
web_modules/
